# dependencies
node_modules/

# build output
dist/

# typescript build cache
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor / OS
.DS_Store
.vscode/
.idea/

# env
.env
.env.local
.env.*.local
